*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}
#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 4rem;
    list-style: none;
}
.product img{
 width: 100% ;
 aspect-ratio: 1/1;
 object-fit: cover;
 object-position: center;
}
.product h3{
    margin-top: 1rem;
    margin-bottom: 1rem
}
.product p{
    margin-bottom: 1rem;
}
.product .price{
    color: red;
    margin-top: 1rem;
}